/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * fieldwork:
 *   - http://typekit.com/eulas/00000000000000007735ce7d
 *   - http://typekit.com/eulas/00000000000000007735ce83
 *   - http://typekit.com/eulas/00000000000000007735ce8a
 *   - http://typekit.com/eulas/00000000000000007735ce8f
 *   - http://typekit.com/eulas/00000000000000007735ce98
 *   - http://typekit.com/eulas/00000000000000007735ce9c
 *   - http://typekit.com/eulas/00000000000000007735ce9f
 *   - http://typekit.com/eulas/00000000000000007735cea3
 *   - http://typekit.com/eulas/00000000000000007735cea6
 *   - http://typekit.com/eulas/00000000000000007735cea9
 *   - http://typekit.com/eulas/00000000000000007735ceac
 *   - http://typekit.com/eulas/00000000000000007735ceaf
 *   - http://typekit.com/eulas/00000000000000007735ceb2
 *   - http://typekit.com/eulas/00000000000000007735ceb4
 *   - http://typekit.com/eulas/00000000000000007735ceb6
 *   - http://typekit.com/eulas/00000000000000007735ceb8
 * fieldwork-hum:
 *   - http://typekit.com/eulas/00000000000000007735ce8d
 *   - http://typekit.com/eulas/00000000000000007735ce87
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-20 18:26:07 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=ntf5nwi&ht=tk&f=42577.42578.42579.42580.42581.42582.42583.42584.42585.42586.42587.42588.42589.42590.42591.42592.42596.42598&a=6445662&app=typekit&e=css');

//@font-face {
//  font-family:"fieldwork";
//  src:url("https://use.typekit.net/af/8f3a2a/00000000000000007735ce7d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/8f3a2a/00000000000000007735ce7d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/8f3a2a/00000000000000007735ce7d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
//  font-display:auto;font-style:normal;font-weight:100;
//}
//
//@font-face {
//  font-family:"fieldwork";
//  src:url("https://use.typekit.net/af/9526a9/00000000000000007735ce83/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/9526a9/00000000000000007735ce83/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/9526a9/00000000000000007735ce83/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
//  font-display:auto;font-style:italic;font-weight:100;
//}
//
//@font-face {
//  font-family:"fieldwork";
//  src:url("https://use.typekit.net/af/47cc1b/00000000000000007735ce8a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/47cc1b/00000000000000007735ce8a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/47cc1b/00000000000000007735ce8a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
//  font-display:auto;font-style:normal;font-weight:200;
//}
//
//@font-face {
//  font-family:"fieldwork";
//  src:url("https://use.typekit.net/af/e4d8f4/00000000000000007735ce8f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/e4d8f4/00000000000000007735ce8f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/e4d8f4/00000000000000007735ce8f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
//  font-display:auto;font-style:italic;font-weight:200;
//}
@font-face {
  font-family: 'WPCDinamoTbilisi';
  src: url('../fonts/WPCDinamoTbilisiLight.eot');
  src: url('../fonts/WPCDinamoTbilisiLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WPCDinamoTbilisiLight.woff2') format('woff2'),
  url('../fonts/WPCDinamoTbilisiLight.woff') format('woff'),
  url('../fonts/WPCDinamoTbilisiLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WPCDinamoTbilisi';
  src: url('../fonts/WPCDinamoTbilisiRegular.eot');
  src: url('../fonts/WPCDinamoTbilisiRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WPCDinamoTbilisiRegular.woff2') format('woff2'),
  url('../fonts/WPCDinamoTbilisiRegular.woff') format('woff'),
  url('../fonts/WPCDinamoTbilisiRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WPC Dinamo Tbilisi';
  src: url('../fonts/WPCDinamoTbilisiBold.eot');
  src: url('../fonts/WPCDinamoTbilisiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WPCDinamoTbilisiBold.woff2') format('woff2'),
  url('../fonts/WPCDinamoTbilisiBold.woff') format('woff'),
  url('../fonts/WPCDinamoTbilisiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.font-light {
  font-family: 'WPCDinamoTbilisi', sans-serif;
  font-style: normal;
  font-weight: 300;

  //&:lang(ka) {
  //  font-family: 'Noto Sans Georgian', sans-serif;
  //}
}

.font-regular {
  font-family: 'WPCDinamoTbilisi', sans-serif;
  font-style: normal;
  font-weight: 400;

  //&:lang(ka) {
  //  font-family: 'Noto Sans Georgian', sans-serif;
  //}
}

.font-semi-bold {
  font-family: 'WPCDinamoTbilisi', sans-serif;
  font-style: normal;
  font-weight: 600;

  //&:lang(ka) {
  //  font-family: 'Noto Sans Georgian SemBd', sans-serif;
  //}
}

//
//.font-bold {
//  font-family: fieldwork, sans-serif;
//  font-style: normal;
//  font-weight: 700;
//}
